/*
  https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker
  regarding the linting issues in this file
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-stable {
  scrollbar-gutter: stable;
}

/**
  * shadcn custom css, see https://ui.shadcn.com/docs/installation/manual
**/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 45.4, 93.39%, 47.45%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 45.4, 93.39%, 47.45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 45.4, 93.39%, 47.45%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 45.4, 93.39%, 47.45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

/**
  * Custom Tailwind class CSS
**/

.label-underline {
  @apply my-2 block text-left text-sm font-bold text-gray-700 dark:text-white;
}

.input-underline {
  @apply mt-0 block w-full border-0 border-b-2 border-gray-200 bg-transparent px-0.5 text-black outline-none focus:border-yellow-500 focus:ring-0 dark:text-white;
}

.input-error {
  @apply input-underline border-red-500 focus:border-red-500;
}

.bd-card {
  @apply flex h-full flex-col justify-center rounded-md bg-white px-6 py-4 text-black shadow-xl transition-colors dark:bg-gray-800 dark:text-white;
}

.bd-button {
  @apply rounded bg-yellow-500 text-white shadow-xl hover:bg-yellow-400 disabled:bg-gray-400 dark:disabled:bg-gray-500;
}

.bd-button-red {
  @apply rounded bg-red-500 text-white shadow-xl hover:bg-red-400 disabled:bg-gray-400 dark:disabled:bg-gray-500;
}

.switch-button {
  @apply m-2 rounded-lg bg-white px-3 py-1 text-black shadow-md hover:bg-yellow-400 hover:text-white disabled:cursor-default disabled:bg-yellow-500 disabled:text-white dark:bg-gray-500 dark:text-white dark:hover:bg-yellow-400 dark:disabled:bg-yellow-500 dark:disabled:text-white;
}

.page-container {
  @apply mb-16 mt-16 h-full w-full overflow-y-auto transition-colors lg:mb-0 lg:w-full lg:pl-72;
}

/**
  * Remove up/down arrows from number intput
**/

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
