/*
  https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker
  regarding the linting issues in this file
*/

@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --animate-fade-in: fadeIn 0.5s ease-in-out;

  --color-tertiary: #253553;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.scrollbar-stable {
  scrollbar-gutter: stable;
}

/**
 * Custom Tailwind class CSS
 **/

.label-underline {
  @apply my-2 block text-left text-sm font-bold text-white;
}

.input-underline {
  @apply mt-0 block w-full border-0 border-b-2 border-gray-200 bg-transparent px-0.5 text-white outline-hidden focus:border-yellow-500 focus:ring-0;
}

.input-error {
  @apply mt-0 block w-full border-0 border-b-2 border-red-500 bg-transparent px-0.5 text-white outline-hidden focus:border-red-500 focus:ring-0;
}

.bd-card {
  @apply flex h-full flex-col justify-center rounded-md bg-gray-800 px-6 py-4 text-white shadow-xl transition-colors;
}

.bd-button {
  @apply rounded-sm bg-yellow-500 text-white shadow-xl hover:bg-yellow-400 disabled:bg-gray-500;
}

.bd-button-red {
  @apply rounded-sm bg-red-500 text-white shadow-xl hover:bg-red-400 disabled:bg-gray-500;
}

.switch-button {
  @apply m-2 rounded-lg bg-gray-500 px-3 py-1 text-white shadow-md hover:bg-yellow-400 hover:text-white disabled:cursor-default disabled:bg-yellow-500 disabled:text-white;
}

.page-container {
  @apply mb-16 mt-16 h-full w-full overflow-y-auto transition-colors lg:mb-0 lg:w-full lg:pl-72;
}

/**
 * Remove up/down arrows from number intput
 **/

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-radio > span {
  visibility: hidden;
}
